@font-face {
	font-family: 'ForteMT';
	src: url(../fonts/ForteMTStd.otf);
}

body {
	margin: 0;
}
.container {
	width: 900px;
	margin: 0 auto;
	background-color: blanchedalmond;
	background: url(../images/bg1.jpg);
	background-size: contain;
}
.signin {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 400px;
	margin: 0 auto;
	height: 200px;
	text-align: center;
}
.wrapper {
	position: relative;
	background: inherit;
}
.wrapper div {
	display: flex;
	align-items: center;
}
label {
	font-family: 'ForteMT';
	font-size: 20px;
	margin-right: 15px;
	text-align: left;
	display: inline-block;
	width: 80px;
}
input {
	font-family: 'ForteMT';
	width: 250px;
	margin-bottom: 5px;
	height: 30px;
	background-color: #7c6e6e;
	border: solid 1.5px black;
	font-size: 20px;
	padding-left: 10px;
}
input:focus-visible{
	outline: none;
}
input[type="text"]::placeholder{
	color: #000;
}
input[type="password"]::placeholder{
	color: #80766a;
}
.btn {
	cursor: pointer;
	position: absolute;
	top: 8px;
	right: -40px;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	border-left: solid 3px #000;
	background: url(../images/bg1.jpg);
	background-size: 4%;
}
.btn i {
	position: absolute;
	left: 15px;
	font-size: 35px;
}
.btn i:hover {
	color: #fff;
}
.signup-btn{
	cursor: pointer;
}
.signup-btn:hover {
	color: #fff; 
}

.signup {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 400px;
	margin: 0 auto;
	height: 250px;
	text-align: center;
}
.signup .btn {
	position: absolute;
	top: 25px;
	right: -20px;
}
input[name="name"]{
	font-family: serif;
}
.signin-btn {
	cursor: pointer;
	display: inline-block;
	margin-top: 20px;
}
.signin-btn:hover {
	color: #fff;
}
.signup input[type="password"] {
	color: #fff;
}

.change-bg-input {
	background-color: #e8f1fd;
}
.none {
	display: none;
}